@charset "utf-8";
/* CSS Document */


body {
  /*padding: 0px;
  margin: 0px;*/

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  background-color: #E8E9EB;
  background-image: url("img/background.png");

  font-family: sans-serif;
  colour: #313638;
}

/* global */
.container {
	/*width: 80%;*/
	margin: 0;
	overflow: hidden;
}

.text {
  color: #313638;
}

.text-bold {
  color: #313638;
  font-weight: bold;
}

.code {
  font-family: 'Source Code Pro', monospace;
  color: #313638;
}

.justifiedlist {
  list-style-type: square;
  list-style-position: inside;
}

.copyright {
  color: #313638;
}

.mainHead{
  color: lime;
  size: 500px;
  font-weight: bold;
  font-family: 'Russo One', sans-serif;
}

/* Nav Bar: */
/* Add a black background color to the top navigation */
.topnav {
  background-color: black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  font-family: 'Russo One', sans-serif;
  float: left;
  display: block;
  color: lime;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: grey;
  color: green;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Main section */

section {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  overflow: hidden;
}

section h1 {
	margin: 5px;
}

section h2 {
	margin: 0;
	font-size: 1.2em;
}

section p {
	margin: 0;
}

/* Footer */

footer {
  margin-top: 10px;
  padding: 5px;
  border-top: #313638 3px solid;
	border-bottom: #313638 3px solid;
}

.emphasis{
  background-color: lime;
  color: green;
}
