@charset "utf-8";
/* CSS Document */


body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	}

  .text{
    color: lime;
  }

  .text1{
    color: lime;
    font-weight:bold;
  }

  .copyright{
    color: lime;
  }


  /*Nav Bar: */
  /* Add a black background color to the top navigation */
  .topnav {
  	background-color: black;
      overflow: hidden;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
      font-family: 'Russo One', sans-serif;
  	float: left;
      display: block;
      color: lime;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
      background-color: grey;
      color: green;
  }

  /* Add a color to the active/current link */
  .topnav a.active {
      background-color: #4CAF50;
      color: white;
  }
